<h2>New Post</h2>

<% if @user != nil %>
  <form action="/places/<%= params[:place_id] %>/" enctype="multipart/form-data">
    <p class="mb-3">
      <label for="body_input" class="form-label">Body</label>
      <input type="text" name="body" id="body_input" class="form-control">
    </p>

    <p class="mb-3">
    <label for="image_input" class="form-label">Image URL</label>
      <input type="text" name="image" id="image_input" class="form-control">
    </p>

    <p class="mb-3">
      <label for="uploaded_image_input" class="form-label">Upload Image</label>
      <input type="file" name="uploaded_image" id="uploaded_image_input" class="form-control">
    </p>

    <p>
      <label for="occurred_on_input">Occurred On</label>
      <input type="date" name="occurred_on" id="occurred_on_input">
    </p>

    <button class="btn btn-primary">Post</button>
    <a href="/posts">Cancel</a>
  </form>
<% else %>
  You must first <a href="/login">login</a> to post.
<% end %>